In [2]:
import helpers

# Hepta

In [4]:
helpers.print_results('Hepta.csv')

      method   FM  AMI  Rand
0      genie  1.0  1.0   1.0
1     single  1.0  1.0   1.0
2   complete  1.0  1.0   1.0
3    average  1.0  1.0   1.0
4   weighted  1.0  1.0   1.0
5   centroid  1.0  1.0   1.0
6     median  1.0  1.0   1.0
7       ward  1.0  1.0   1.0
8     kmeans  1.0  1.0   1.0
9   spectral  1.0  1.0   1.0
10     birch  1.0  1.0   1.0

In [3]:
helpers.print_best_g('Hepta.csv')

    Dla    0
4    FM  0.1
5   AMI  0.1
6  Rand  0.1

# Atom

In [13]:
helpers.print_results('Atom.csv')

      method        FM       AMI      Rand
0      genie  1.000000  1.000000  1.000000
1     single  1.000000  1.000000  1.000000
2   complete  0.646803  0.162066  0.083531
3    average  0.646284  0.178120  0.098626
4   weighted  0.661122  0.281565  0.213206
5   centroid  0.706664  0.000000  0.000000
6     median  0.706664  0.000000  0.000000
7       ward  0.646284  0.178120  0.098626
8     kmeans  0.655926  0.261021  0.188534
9   spectral  0.663300  0.289197  0.222554
10     birch  0.646284  0.178120  0.098626

In [6]:
helpers.print_best_g('Atom.csv')

    Dla    0
4    FM  0.1
5   AMI  0.1
6  Rand  0.1

# Lsun

In [14]:
helpers.print_results('Lsun.csv')

      method        FM       AMI      Rand
0      genie  0.864527  0.757030  0.771964
1     single  1.000000  1.000000  1.000000
2   complete  0.627204  0.525998  0.404613
3    average  0.604377  0.486905  0.361089
4   weighted  0.574204  0.472101  0.306506
5   centroid  0.604377  0.486905  0.361089
6     median  0.575208  0.476175  0.311067
7       ward  0.605186  0.508965  0.368822
8     kmeans  0.642389  0.534036  0.435808
9   spectral  0.883057  0.789572  0.805024
10     birch  0.589824  0.488075  0.341054

In [5]:
helpers.print_best_g('Lsun.csv')

    Dla    0
4    FM  0.1
5   AMI  0.1
6  Rand  0.1

# TwoDiamonds

In [15]:
helpers.print_results('TwoDiamonds.csv')

      method        FM           AMI      Rand
0      genie  0.970389  9.020663e-01  0.940826
1     single  0.705780 -1.766911e-15  0.000000
2   complete  0.982612  9.361395e-01  0.965263
3    average  0.997497  9.873782e-01  0.995000
4   weighted  0.997497  9.873782e-01  0.995000
5   centroid  0.997497  9.873782e-01  0.995000
6     median  0.992510  9.680700e-01  0.985038
7       ward  1.000000  1.000000e+00  1.000000
8     kmeans  1.000000  1.000000e+00  1.000000
9   spectral  1.000000  1.000000e+00  1.000000
10     birch  0.992510  9.680700e-01  0.985038

In [4]:
helpers.print_best_g('TwoDiamonds.csv')

    Dla    0
4    FM  0.1
5   AMI  0.1
6  Rand  0.1